@font-face {
  font-family: 'VCR OSD Mono';
  src: url('../fonts/VCR_OSD_MONO_1.001.ttf')
}

body {
  margin: 0;
  background-color: #2a3688;
  background-image: url('../images/bg-top.jpg');
  background-size: 300px;
  background-repeat: no-repeat;
}

/* This is not working
body::before {
  content: '';
  background-image: url('../images/bg-bottom.jpg');
  background-size: 300px; 
} */

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture {
  margin-top: 40px;
  width: 120px;
  border-radius: 50%;
  border: 5px solid #31698c;
}

.title {
  font-family: 'VCR OSD Mono', sans-serif;
  font-size: 50px;
  color: #f7f7f7;
  text-shadow: 3px 2px #c92c8d;
  text-transform: uppercase;
  text-align: center;
}

.description {
  font-family: Abel, sans-serif;
  font-size: 20px;
  color: #f7f7f7;
  text-align: center;
}

.highlight {
  color: #da798c;
}

.social {
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.social__icon {
  color: #f7f7f7;
}

.social__icon:hover {
  color: #cd278d;
}
